@model IEnumerable<ControleContasWeb.Data.Contas>

@{
    ViewBag.Title = "Home Page";
}

<h1>Listagem de contas pertencentes ao período pesquisado</h1>

<table class="table">
    <tr>
        <th>Id da Conta</th>
        <th>Tipo de Conta</th>
        <th>Data de Leitura</th>
        <th>Consumo</th>
        <th>Valor a Pagar</th>
        <th>Data de Pagamento</th>
        <th></th>
        <th></th>
    </tr>

    @{
        decimal totalAPagar = 0;
    }

    @foreach (var conta in Model) 
    {
        <tr>
            <td>@conta.Id</td>
            <td>@conta.Tipo</td>
            <td>@conta.DataLeitura.ToShortDateString()</td>
            <td>@conta.Consumo</td>
            <td>@conta.ValorPagar</td>
            <td>@conta.DataPagto.ToShortDateString()</td>
            <td>@Html.ActionLink("Editar", "Edit", new { id = conta.Id }) |</td>
            <td>@Html.ActionLink("Excluir", "Delete", new { id = conta.Id })</td>
        </tr>     
        
        totalAPagar = totalAPagar + conta.ValorPagar;
    }

    <tr>
        <td></td>
        <td></td>
        <td><strong>Total a pagar</strong></td>
        <td>@totalAPagar</td>
        <td></td>
        <td></td>
    </tr>
</table>

<h2>Pesquisar novamente por período</h2>

<form action="/Home/Pesquisar" method="post">
    <div class="form-group">
        <label for="DataLeitura">Data inicial</label>
        <input style="width: 100px;" class="form-control" id="DataLeitura" type="datetime" name="dataInicio" placeholder="__/__/____" required />
    </div>

    <div class="form-group">
        <label for="DataPagto">Data final</label>
        <input style="width: 100px;" class="form-control" id="DataPagto" type="datetime" name="dataFim" placeholder="__/__/____" required />
    </div>

    <div class="form-group">
        <input class="form-control" type="submit" name="pesquisar" value="Pesquisar" />
    </div>
</form>
